openapi: 3.0.0
info:
  contact: {}
  description: |-
    Public API for sending and verifying one-time passwords. Authenticate every request with your API key
    as a Bearer token. The delivery channel is chosen by your account routing; you only pass the
    recipient. The code itself is never returned by the API.

    Errors are always `{"error": {"type", "message", "details"?}}`.

    When routing picks WhatsApp the code is not sent yet: the send response carries an `action_url`
    (a wa.me link) the user opens to receive the code over WhatsApp, and the OTP stays pending until they
    enter it. Verification is identical on every channel.

    If your app uses one of the mobile SDKs, the device verifies against the client API and receives a
    `verification_token` instead of a result. Exchange that token here, with your server key
    (`POST /verifications/exchange`), to learn which recipient was verified. What an app tells your
    backend about its own verification is unverifiable, so the token is the whole security model.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: otp OTP API
  version: 1.0.0
servers:
- description: Production
  url: https://api.otp.com
tags:
- description: "Send, verify, resend, and check one-time passwords."
  name: OTP
- description: Exchange a token from the mobile SDKs for the recipient it proves.
  name: Verifications
paths:
  /api/v1/otp/send:
    post:
      description: "Routing picks the channel from the app config. When it selects\
        \ WhatsApp the code is not sent yet: the response returns action_url (a wa.me\
        \ link) the user opens to receive the code over WhatsApp, and the OTP stays\
        \ pending until they enter it. On all other channels the code is delivered\
        \ directly and action_url is null. Either way the user enters the code and\
        \ you call POST /otp/verify."
      operationId: sendOtp
      parameters:
      - description: Replay the prior response for a repeated request; a reused key
          with a different body is a 409.
        explode: false
        in: header
        name: idempotency-key
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpResponse"
          description: OTP created and delivery started.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Missing or invalid API key (also returned for a disabled app
            or a suspended company).
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "No channel can reach this recipient, or the idempotency key\
            \ was reused with a different body."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Request body failed validation.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either routing picked WhatsApp and our inbound number is not\
            \ configured, or the platform is closed for maintenance (see the Retry-After\
            \ header)."
      security:
      - bearerAuth: []
      summary: "Start an OTP: routes a channel and dispatches the code."
      tags:
      - OTP
  /api/v1/otp/verify:
    post:
      operationId: verifyOtp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyResponse"
          description: Verification result.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Missing or invalid API key (also returned for a disabled app
            or a suspended company).
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "OTP not found (the same 404 is returned for an OTP belonging\
            \ to another company, or to the other environment: a test key addresses\
            \ only sandbox OTPs and a live key only live ones)."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Request body failed validation.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The platform is closed for maintenance. Retry after the interval
            in the Retry-After header.
      security:
      - bearerAuth: []
      summary: Verify a code against a pending OTP.
      tags:
      - OTP
  /api/v1/otp/resend:
    post:
      operationId: resendOtp
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpResponse"
          description: Resend accepted; the OTP may now be on a different channel.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Missing or invalid API key (also returned for a disabled app
            or a suspended company).
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "OTP not found (the same 404 is returned for an OTP belonging\
            \ to another company, or to the other environment: a test key addresses\
            \ only sandbox OTPs and a live key only live ones)."
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "The OTP cannot be resent (resolved, expired, or out of attempts),\
            \ or the requested channel is not enabled."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Request body failed validation.
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resend cooldown has not elapsed; see the Retry-After header.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Either routing picked WhatsApp and our inbound number is not\
            \ configured, or the platform is closed for maintenance (see the Retry-After\
            \ header)."
      security:
      - bearerAuth: []
      summary: "Resend a pending OTP, escalating the channel if configured."
      tags:
      - OTP
  /api/v1/otp/{otp_id}:
    get:
      operationId: getOtpStatus
      parameters:
      - explode: false
        in: path
        name: otp_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OtpStatusResponse"
          description: Current status of the OTP.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: otp_id is not a valid UUID.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Missing or invalid API key (also returned for a disabled app
            or a suspended company).
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "OTP not found (the same 404 is returned for an OTP belonging\
            \ to another company, or to the other environment: a test key addresses\
            \ only sandbox OTPs and a live key only live ones)."
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The platform is closed for maintenance. Retry after the interval
            in the Retry-After header.
      security:
      - bearerAuth: []
      summary: Fetch the current status of an OTP.
      tags:
      - OTP
  /api/v1/verifications/exchange:
    post:
      description: "Call this from YOUR backend, with a server key from your API Keys\
        \ page, using the verification_token your app received from POST /client/otp/verify.\
        \ It returns the recipient that was actually verified. This is the only trustworthy\
        \ answer to \"did this user prove they control this number\": the `matched`\
        \ field the device saw is a UI hint, read off a device you do not control,\
        \ and an app can claim anything. Exchanging is idempotent for the same API\
        \ key within the token lifetime, so a retry after a network failure returns\
        \ the same result instead of losing the verification. Any other key, a second\
        \ use, or an expired token gets a 404."
      operationId: exchangeVerification
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationExchangeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationExchangeResponse"
          description: The verification this token proves.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Missing or invalid API key (also returned for a publishable\
            \ key used here, a disabled app, or a suspended company)."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "Verification token not found, expired, or already exchanged.\
            \ The same 404 covers a token that is not yours and one already exchanged\
            \ by a different key of your own, so the endpoint cannot be used to probe\
            \ which tokens exist."
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Request body failed validation.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The platform is closed for maintenance. Retry after the interval
            in the Retry-After header.
      security:
      - bearerAuth: []
      summary: Exchange a verification token for the recipient it proves.
      tags:
      - Verifications
components:
  schemas:
    ErrorBody:
      example:
        type: OtpNotFoundError
        message: message
        details:
          key: ""
      properties:
        type:
          description: "Machine-readable error class, e.g. \"OtpNotFoundError\"."
          example: OtpNotFoundError
          type: string
        message:
          description: Human-readable message. Safe to log; never contains the OTP
            code.
          type: string
        details:
          additionalProperties: true
          description: "Structured context, present on validation errors ({loc, msg,\
            \ type} per field) and a few domain errors."
          type: object
      required:
      - message
      - type
      type: object
    ErrorResponse:
      example:
        error:
          type: OtpNotFoundError
          message: message
          details:
            key: ""
      properties:
        error:
          $ref: "#/components/schemas/ErrorBody"
      required:
      - error
      type: object
    SendRequest:
      example:
        recipient: "+14155552671"
        locale: en
        client_ip: 81.2.69.142
      properties:
        recipient:
          description: Phone number (E.164) or email address to deliver the OTP to.
          example: "+14155552671"
          maxLength: 320
          minLength: 1
          type: string
        locale:
          description: BCP-47 locale for the message template; falls back to the app
            default.
          example: en
          maxLength: 10
          nullable: true
          type: string
        client_ip:
          description: "IP address of the end user who triggered this OTP (IPv4 or\
            \ IPv6). Strongly recommended: requests without it share a much tighter\
            \ per-app rate limit, and it feeds abuse protection for your own traffic.\
            \ Private/reserved addresses count as absent."
          example: 81.2.69.142
          nullable: true
          type: string
      required:
      - recipient
      type: object
    Status:
      enum:
      - pending
      - approved
      - failed
      - expired
      type: string
    Channel:
      description: Channel the OTP was dispatched on; null until routed.
      enum:
      - sms
      - whatsapp
      - email
      - telegram
      type: string
    OtpResponse:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: ""
        channel: ""
        masked_recipient: +14****71
        action_url: https://wa.me/13845555555?text=Verify%20me%3A%20aB3xZ-9kQ2m-7pLw4-2mN8k
      properties:
        otp_id:
          format: uuid
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/Status"
        channel:
          allOf:
          - $ref: "#/components/schemas/Channel"
          description: Channel the OTP was dispatched on; null until routed.
          nullable: true
        masked_recipient:
          description: Recipient with the middle digits masked.
          example: +14****71
          type: string
        action_url:
          description: "WhatsApp link the user opens to receive the code: they send\
            \ us the prefilled message and we reply with the code over WhatsApp, then\
            \ they enter it and you call POST /otp/verify. Present only when dispatched\
            \ on the whatsapp channel; null otherwise."
          example: https://wa.me/13845555555?text=Verify%20me%3A%20aB3xZ-9kQ2m-7pLw4-2mN8k
          nullable: true
          type: string
      required:
      - channel
      - masked_recipient
      - otp_id
      - status
      type: object
    VerifyRequest:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        code: "123456"
      properties:
        otp_id:
          description: The OTP id returned by send/resend.
          format: uuid
          type: string
        code:
          description: The code the recipient entered.
          example: "123456"
          maxLength: 16
          minLength: 1
          type: string
      required:
      - code
      - otp_id
      type: object
    VerifyResponse:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: ""
        matched: true
      properties:
        otp_id:
          format: uuid
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/Status"
        matched:
          description: Whether the submitted code matched.
          type: boolean
      required:
      - matched
      - otp_id
      - status
      type: object
    ResendRequest:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        channel: ""
      properties:
        otp_id:
          description: The OTP id to resend.
          format: uuid
          type: string
        channel:
          allOf:
          - $ref: "#/components/schemas/Channel"
          description: "Move this OTP onto a specific channel, e.g. \"sms\" when the\
            \ recipient has no WhatsApp. The channel must be enabled for your app\
            \ and the recipient. Omit to advance to the next channel in your routing\
            \ order, or to repeat the last one once the order is exhausted."
          nullable: true
      required:
      - otp_id
      type: object
    OtpStatusResponse:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: ""
        masked_recipient: +14****71
      properties:
        otp_id:
          format: uuid
          type: string
        status:
          allOf:
          - $ref: "#/components/schemas/Status"
        masked_recipient:
          description: Recipient with the middle digits masked.
          example: +14****71
          type: string
      required:
      - masked_recipient
      - otp_id
      - status
      type: object
    VerificationExchangeRequest:
      example:
        verification_token: otp_vt_3xZ9kQ2m7pLw42mN8kaB3xZ9kQ2m7pLw
      properties:
        verification_token:
          description: The verification_token your app received from POST /client/otp/verify.
          example: otp_vt_3xZ9kQ2m7pLw42mN8kaB3xZ9kQ2m7pLw
          maxLength: 128
          minLength: 1
          type: string
      required:
      - verification_token
      type: object
    RecipientType:
      enum:
      - phone
      - email
      type: string
    VerificationExchangeResponse:
      example:
        otp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recipient: "+14155552671"
        recipient_type: ""
        channel: ""
        verified_at: 2000-01-23T04:56:07.000+00:00
      properties:
        otp_id:
          description: The OTP this verification belongs to.
          format: uuid
          type: string
        recipient:
          description: "The recipient that was verified, in full. This is the answer\
            \ the device could not be trusted to give you."
          example: "+14155552671"
          type: string
        recipient_type:
          allOf:
          - $ref: "#/components/schemas/RecipientType"
        channel:
          allOf:
          - $ref: "#/components/schemas/Channel"
          description: Channel the verified code was delivered on.
          nullable: true
        verified_at:
          description: When the end user entered the correct code.
          format: date-time
          type: string
      required:
      - channel
      - otp_id
      - recipient
      - recipient_type
      - verified_at
      type: object
  securitySchemes:
    bearerAuth:
      description: "Your API key (`otp_live_…` for production, `otp_test_…` for sandbox)."
      scheme: bearer
      type: http
